@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Robotolight.woff2') format('woff2'),
        url('../fonts/Robotolight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto.woff2') format('woff2'),
        url('../fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Robotobold.woff2') format('woff2'),
        url('../fonts/Robotobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: local('Roboto Condensed'),
        url('../fonts/Robotocondensed.woff2') format('woff2'),
        url('../fonts/Robotocondensed.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: local('Roboto Condensed'),
        url('../fonts/Robotocondensedbold.woff2') format('woff2'),
        url('../fonts/Robotocondensedbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}