$main-color: #ec644b;
$bg-color: #25333c;
$titles-color: #2e2e2e;
$borders-color: #e9e9e9;

$white: #ffffff;
$black: #000000;
$red-dark: #dc5238;
$grey-light: #f3f3f3;
$grey-dark: #3a3a3a;
$green-ok: #7ed56f;

$shadow-default: 3px 3px 20px $main-color;
$shadow-dark-red: 3px 3px 20px $red-dark;
$shadow-green: 3px 3px 20px $green-ok;

$font: "Roboto Condensed", sans-serif;
