@import 'base/variables';
*   {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
@import './blocks/texts';
@import './blocks/buttons';
@import './blocks/lines';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/more';
@import './blocks/backgrouns';
@import './blocks/delivery';
