@import 'base/variables';
*   {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
@import './blocks/texts';
@import './blocks/buttons';
@import './blocks/lines';
@import './blocks/forms';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/more';
@import './blocks/backgrounds';
@import './blocks/delivery';
@import './blocks/consultation';
@import './blocks/work';
@import './blocks/carousel';