.background {
    padding: 58px 0 75px 0;
    min-height: 342px;
    
    &--agent {
        background: url(../img/bg_2.jpg) center center/cover no-repeat;
    }
    
    &--managers {
        background: url(../img/bg_3.jpg) center center/cover no-repeat;
    }
    
    &__header {
        margin-top: 20px;
        color: $white;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }
    
    &__descr {
        margin-top: 22px;
        color: $white;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
    }
}

.round {
    @include flex-centered;
    margin: 0 auto;
    width: 102px;
    height: 102px;
    border: 1px solid $white;
    border-radius: 100%;
}