.button {
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 22px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    background-color: $main-color;
    &:active, &:focus {
        outline: none;
    }
    &:hover {
        background-color: darken($main-color, 7%);
        box-shadow: 3px 3px 20px $main-color;
    }
    &--count {
        display: block;
        margin: 39px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
        border-radius: 28px;
    }
    &--more {
        display: block;
        margin: 0 auto;
        background-color: #dc5238;
        &:hover {
            background-color: darken(#dc5238, 10%);
            box-shadow: 3px 3px 20px #dc5238;
        }
    }
    &--submit {
        position: absolute;
        bottom: 58px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        &--end {
            bottom: 25px;
        }
    }
    &--modal {
        margin-top: 14px;
        margin-bottom: 7px;
        width: 270px;
        height: 47px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
        border-radius: 23px;
    }
}

