.feed-form {
    @include flex-centered;
    margin-top: 71px;
    width: 100%;
    height: 166px;
    border: 2px solid $borders-color;
    &--plus {
        margin-top: 18px;
        height: auto;
        border:none;
    }
    input {
        margin: 0 2px;
        width: 270px;
        height: 47px;
        padding: 16px 0 16px 27px;
        border: 2px solid $borders-color;
        border-radius: 23px;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
        }
        &:active, &:focus {
            outline: none;
        }
    }
}

.questions {
    padding: 62px 0 79px 0;
    background: url(../img/bg_4.jpg) center center/cover no-repeat;
    &__block {
        width: 896px;
        margin: 0 auto;
        min-height: 297px;
        background-color: rgba(255, 255, 255, 0.7);
        position: relative;
        textarea {
            display: block;
            margin: 8px auto 17px auto;
            padding: 14px 0 0 25px;
            width: 813px;
            height: 71px;
            border: 1px solid rgba(0, 0, 0, 0.21);
            border-radius: 7px;
            background-color: $white;
            resize: none;
            &:active, &:focus {
                outline: none;
            }
        }
    }
    &__header {
        height: 68px;
        background-color: $bg-color;
        padding-top: 10px;
        color: $white;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        div {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.modal__form {
    flex-direction: column;
    margin-top: 10px;
    min-height: 255px;
    input {
        margin: 7px 0;
    }
    &:active, &:focus {
        outline: none;
    }
}